<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Similatron report</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
  </head>

  <body>
    <p>
      Did <%= comparisons.length %> checks!
    </p>
    <% failed_comparisons.each do |comparison| %>
      <div>
        Failed comparison:
        Expected <a href="<%= comparison.original %>">original</a>
        to equal <a href="<%= comparison.generated %>">generated</a>.
        <% if comparison.diff %>
          <a href="<%= comparison.diff %>">Diff</a>.
        <% end %>
      </div>
    <% end %>
  </body>
</html>
